@charset "utf-8";
/* CSS Document 151211 */

/********************************************
 문의하기 
 ********************************************/
.cs_cont { position: relative; background: #fff }
.cs_list { border-bottom: 1px solid #e6e6e6; }
.cs_list { border-bottom: 1px solid #e6e6e6; }
.cs_list li { border-top: 1px solid #e6e6e6; }
.cs_list li .box { display: block; position: relative; padding: 13px 79px 13px 12px; line-height: 17px; letter-spacing: -1px; }
.cs_list li .title { display: block; position: relative; font-size: 13px; }
.cs_list li .cc_ellip_in { display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; line-height: 17px; word-wrap: break-word; text-overflow: normal; white-space: normal; font-weight: normal; overflow: hidden; }
.cs_list li .date { display: inline-block; position: absolute; right: 11px; top: 13px; font-family: Helvetica; font-size: 12px; color: #808080; letter-spacing: 0; }
.cs_list li .photo { display: inline-block; position: relative; right: -10px; top: 1px; width: 17px; letter-spacing: 0; text-indent: -9999px; color: #fff; height: 16px; background: url(../images/image_16x16.png) no-repeat 0 0; }
.cs_list li .type { color: #222222; font-weight: bold }
.cs_list .type { display: inline-block; vertical-align: top; }
.cs_list .type .type_in { display: inline-block; padding: 0 6px; border: 1px solid #7fd4c8; background: #9cd9d1; font-size: 11px; line-height: 18px; color: #fff; vertical-align: top; /*box-shadow: inset 0 0 0 1px #fff;*/ font-weight: bold; letter-spacing: 0; }
.clm_acdo_tit .btn_ask { position: absolute; top: 10px; right: 15px; }
.btn_ask { display: inline-block; border: 1px solid; -webkit-box-shadow: inset 0 -3px 0 rgba(255, 255, 255, 0.15); border-radius: 3px; -webkit-border-radius: 3px; background-color: #E94925; font-size: 12px; vertical-align: top; padding: 6px 15px 7px; color: #fff; font-weight: bold; line-height: 12px; }

/********************************************
 문의등록하기
 ********************************************/
.txtarea { display: block; overflow: hidden; position: relative;/*  padding: 5px; border: 1px solid #ccc;border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; background: #fff; line-height: 17px; box-shadow: inset 0 1px 0 0 #ededed; */}
.m_userinfo dd label { display: inline-block; margin: 0 4px; vertical-align: top; }
.txtarea label { position: absolute; top: 0; left: 0; padding: 5px; font-weight: normal; font-size: 12px; line-height: 17px; color: #999; }
.inpfiles { display: block; position: relative; height: 33px; margin: 0; background: #fff; border: 1px solid #ccc; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: inset 0 -2px 0 #efefef; font-weight: bold; font-size: 12px; color: #666; line-height: 33px; letter-spacing: -1px; text-align: center; }
.m_userinfo dd label { display: inline-block; margin: 0 4px; vertical-align: top; }
.m_userinfo .inpfiles .file { overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 35px; opacity: 0; }
.m_userinfo .inpfiles .file input { position: absolute; top: 0; right: 0; left: 0; bottom: 0; width: 100%; opacity: 0.1; cursor: pointer; }
.inpbx { display: block; overflow: hidden; width: auto; height: 18px; padding: 8px 8px 7px; line-height: 18px; border: 1px solid #ccc; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; letter-spacing: -1px; box-shadow: inset 0 1px 0 rgba(0,0,0,.07); }
.m_userinfo dd input[type="text"], .m_userinfo dd input[type="password"], .m_userinfo dd input[type="number"], .m_userinfo dd input[type="tel"] { width: 100%; height: 17px; border: 0 none; background: transparent; font-size: 12px; line-height: 17px; vertical-align: top; }
.inpbx input { width: 100%; height: 17px; border: 0 none; background: transparent; font-size: 12px; line-height: 17px; color: #222; vertical-align: top; }
.txtarea .form-control {display: block; width: 100%; height: 70px;	  padding: 6px ; font-size: 13px;	  line-height: 17px; color: #555;	  background-color: #fff; background-image: none;  border: 1px solid #ccc;	
border-radius: 3px;	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);	  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
	       
/********************************************
	 paging 
*********************************************/

.m_paginate_wrap { background: #fff; padding-top: 20px; height: 56px; margin-top: -1px; }
.m_paginate_wrap { background: #F5F5F5; padding: 10px 0 0; border-top: 1px solid #ccc; text-align: center; height: 63px; }
.m_paginate { display: inline-block; }
.m_paginate a.prev { -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; background-position: -5px -5px; }
.m_paginate a.prev, .m_paginate a.next { width: 44px; background-color: #F5F5F5; background-image: url(../img/sp_page.png); background-size: 200px 150px; }
.m_paginate a, .m_paginate strong { float: left; width: 26px; height: 26px; border: 1px solid #ccc; margin-right: -1px; background-color: #fff; line-height: 26px; color: #808080; font-family: Helvetica, sans-serif; font-size: 14px; text-align: center; }
.m_paginate span { float: left; width: 15px; height: 26px; background: url(../img/sp_page.png); background-size: 200px 150px; background-position: 0 -100px; margin-left: 1px; }
.blind { visibility: hidden; overflow: hidden; position: absolute; width: 0; height: 0; margin: 0; padding: 0; font-size: 0; line-height: 0; }
.m_paginate strong { border: 1px solid #F87491; position: relative; color: #F87491; font-weight: normal; }
.m_paginate a, .m_paginate strong { float: left; width: 26px; height: 26px; border: 1px solid #ccc; margin-right: -1px; background-color: #fff; line-height: 26px; color: #808080; font-family: Helvetica, sans-serif; font-size: 14px; text-align: center; }
.m_paginate a.next { -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; background-position: -5px -55px; }
.m_paginate a.prev, .m_paginate a.next { width: 30px; background-color: #F5F5F5; background-image: url(../images/sp_page.png); background-size: 200px 150px; }
.m_paginate a, .m_paginate strong { float: left; width: 26px; height: 26px; border: 1px solid #ccc; margin-right: -1px; background-color: #fff; line-height: 26px; color: #808080; font-family: Helvetica, sans-serif; font-size: 14px; text-align: center; }

/********************************************
	 asList : AS조회 
*********************************************/
.odr_goods_lst .txt_bx { font-size: 12px; color: #666; padding-top: 3px; }
.clm_acdo_cont { border-top: 1px solid #BFBFBF; border-bottom: 1px solid #BFBFBF; background: #fff }
.clm_acdo_tit { position: relative; background-color: #F5F7F7; border-bottom: 1px solid #B3B3B3; /*border-top: 1px solid #B3B3B3;*/ box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1); margin-top: -1px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.clm_acdo_tit h1 { text-align: center; width: auto; font-size: 16px; color: #222; letter-spacing: -1px; padding: 14px 0 13px 10px; }


.clm_acdo_sec { padding: 10px 0 0; }
.clm_acdo_sec .clm_acont { display: table-cell; width: auto; }
.odr_goods_lst > li { padding: 13px 12px; border-top: 1px dotted #ccc; ; }
.odr_goods_lst > li:first-child { border-top: 0; padding-top: 5px; }
.odr_goods_lst .order_acont { position: relative; min-height: 54px; padding: 0 0 10px 69px; }
.odr_goods_lst .order_acont .summary { display: -webkit-box; overflow: hidden; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; line-height: 19px; color: #666; margin-bottom: 6px; font-size: 13px; }
.odr_goods_lst .order_acont .summary a { color: #666; }
.odr_goods_lst .order_acont .display_store { line-height: 17px; padding-bottom: 3px; }
.odr_goods_lst .order_acont .display_store .place { display: inline-block; font-weight: normal; letter-spacing: 0; vertical-align: top; }
.odr_goods_lst .order_acont .display_store .place .date { color: #222222; font-size: 14px; }
.odr_goods_lst .order_acont .display_store .type { display: inline-block; vertical-align: top; }
.odr_goods_lst .order_acont .display_store .type .type_in { display: inline-block; padding: 0 6px; border: 1px solid #7fd4c8; background: #9cd9d1; font-size: 11px; line-height: 18px; color: #fff; vertical-align: top; /*box-shadow: inset 0 0 0 1px #fff;*/ font-weight: bold; letter-spacing: 0; }
.odr_goods_lst .order_acont .img_area { display: inline-block; position: absolute; left: 0; top: 0; vertical-align: top; }
.clm_acdo_sec .odr_goods_lst .order_acont { padding-left: 69px; padding-bottom: 0; }
.clm_acdo_sec .odr_goods_lst .order_acont .img_area img { width: 60px; height: 60px; }
.clm_acdo_sec .odr_goods_lst .order_acont .summary { -webkit-line-clamp: 2; color: #222; }

/********************************************
	asListDetail : AS상세 
*********************************************/
.clm_order_detail { background: #fff; }
.clm_acdo_tit_left { position: absolute; top: 0; left: 5px; }
.clm_acdo_tit_left .btn { display: inline-block; width: 42px; height: 42px; vertical-align: top; }
.clm_acdo_tit_left .b_prev .sp_prev { width: 25px; height: 15px; margin-top: 13px; background: url(../images/sp_v1.png) no-repeat 0 0; background-position: -140px -65px; }
.clm_acdo_tit_left .btn .sp_prev { width: 30px; height: 19px; }
.clm_acdo_tit_left .sp_prev, .sp_prev:before { display: inline-block; overflow: hidden; width: auto; height: 10px; background: url(../images/sp_v1.png) no-repeat 0 0; line-height: 999px; vertical-align: top; }
.clm_acdo_tit2 h2.h2_txo { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.clm_acdo_tit2 h2 { width: auto; max-width: 72%; font-size: 14px; color: #222; letter-spacing: -1px; }
.clm_acdo_tit2 h2 strong { color: #73b1da; margin-right: 6px; }
.clm_acdo_tit2 h2 em.date { font-family: 'Times New Roman'; font-weight: bold; font-style: italic; font-size: 15px; line-height: 15px; margin: 3px; }
.clm_acdo_tit2 h2 em.num { font-family: 'Times New Roman'; font-weight: bold; font-style: italic; font-size: 17px; line-height: 15px; margin: 0 3px; }
.clm_order_detail .clm_acdo_tit2:first-child { border-top: none; }
.clm_order_detail .clm_acdo_tit2 { background-color: #EBEDED; border-top: 1px solid #BFBFBF; border-bottom: 1px solid #BFBFBF; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 12px 0 0 10px; }
.clm_detail_btn { text-align: center; margin: 0 auto; border-top: 1px solid #b5b5b5; border-bottom: 1px solid #b5b5b5; padding: 15px 12px 40px; }
.clm_detail_btn .clm_btn { margin-top: 0; }
.clm_btn div:last-child { padding-right: 0; }
.clm_btn div:first-child { padding-left: 0; }
.clm_btn div { padding: 0 2px 0 3px; }
.clm_btn > div { display: table-cell; vertical-align: top; }
.clm_btn a.btn_ty1 { background: #222222;/* 버튼 파랑 */ }
.clm_btn a.btn_ty2 { background: #E94925; /* 버튼 빨강 */ }
.clm_btn a.btn_ty3 { background: #393636;/* 버튼 회색 */ }
.clm_btn a { line-height: 100%; display: block; border-radius: 3px; -webkit-border-radius: 3px; box-shadow: inset 0 -3px 0 rgba(255, 255, 255, 0.15); -webkit-box-shadow: inset 0 -3px 0 rgba(255, 255, 255, 0.15); vertical-align: top; color: #fff; font-size: 16px; height: 49px; letter-spacing: -1px; font-weight: bold; text-align: center; line-height: 49px; }
.clm_acdo_sec .odr_line_ty1 { margin: 8px 0; }
.odr_line_ty1 { border: none; border-top: 1px solid #f2f2f2; margin: 10px 0; padding: 0; line-height: 0; font-size: 0; }
.clm_order_detail .odr_info { position: relative; min-height: 30px; padding: 5px 15px 15px 12px; font-size: 14px; letter-spacing: -1px; }
.clm_order_detail .odr_info .ic_uinfo { position: absolute; left: 0; top: 25px; width: 22px; height: 26px; background-position: -60px -220px; }
.clm_order_detail .odr_info .tit { display: block; font-size: 12px; font-weight: bold; line-height: 16px; color: #73b1da; }
.clm_order_detail .odr_info .num { display: block; font-weight: bold; line-height: 20px; color: #222; }
.clm_order_detail .odr_info .num .txt_tr { font-weight: bold; }
.txt_tr { font-family: 'helvetica'; letter-spacing: 0; font-weight: bold; }
.clm_order_detail .clm_acdo_sec { padding: 12px; }
.clm_order_detail .clm_acdo_sec .clm_sec { padding: 0 12px; }
.clm_order_detail .clm_ip2 { display: table; width: 100%; padding: 3px 0 4px; }
.clm_order_detail .clm_ip dt, .clm_order_detail .clm_ip2 dt { width: 80px; }
.clm_order_detail .clm_ip2 .img_area img { width: 70px; height: 70px; padding-bottom: 8px; /* 사진 사이즈 조정 */ }
.clm_order_detail .clm_ip2 dt { display: table-cell; width: 80px; vertical-align: top; color: #222; font-weight: bold; line-height: 16px; }
.clm_order_detail .clm_ip2 dt .tit { font-size: 13px; line-height: 16px; display: inline-block; }
.clm_order_detail .clm_ip2 dd { display: table-cell; width: auto; vertical-align: middle; position: relative; font-weight: blod; }
.clm_order_detail .clm_ip2 dd .tx1 { font-size: 13px; color: #666; line-height: 16px; font-weight: normal; }
.clm_order_detail .clm_ip2 dd .tx2 { font-size: 13px; color: #666; line-height: 16px; font-weight: bold; }
.clm_order_detail .clm_ip2 dd .tx3 { font-size: 15px; color: #222222; line-height: 16px; font-weight: bold; }
.clm_order_detail .clm_ip2 dd .tx4 { font-size: 15px; color: #E94925; line-height: 16px; font-weight: bold; }
.clm_order_detail .clm_ip2 dd:after { content: ''; display: block; clear: both; }
.clm_acdo_sec .odr_line_ty1 { margin: 8px 0; }
.odr_line_ty1 { border: none; border-top: 1px solid #f2f2f2; margin: 10px 0; padding: 0; line-height: 0; font-size: 0; }
.sp_odr { display: inline-block; background-image: url(../img/sp_odr.png); background-repeat: no-repeat; background-size: 400px 400px; }
